{% extends 'base.html.twig' %}

{% block adminQuizz %}active{% endblock %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end align-items-center">
        <h1 class="mr-auto">Edit Question</h1>
        {{ include('admin/question/_delete_form.html.twig') }}
    </div>

    {{ include('admin/question/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-dark mt-2" href="{{ path('admin_question_index', {'id': question.quizz.id}) }}">back to list</a>
{% endblock %}
