{% extends 'base.html.twig' %}

{% block adminQuizz %}active{% endblock %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('admin/answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_answer_index', {'id': answer.question.id}) }}">back to list</a>

    {{ include('admin/answer/_delete_form.html.twig') }}
{% endblock %}
