<nav class="navbar navbar-light  justify-content-between">
{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path('admin_index') }}">Home</a>
    <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('app_logout') }}">Deconnexion</a>
    {# <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path('user_show', {'id':app.user.id, 'slug':app.user.slug})}}">{{ app.user.username }}</a> #}
{% endif %}
</nav>