body {
    min-height: 100vh;
}

.window {
    background: #222;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-family: monospace;
    width: 1000px;
    height: 240px;
    border-radius: 5px 5px 0 0;
    border-top: none;
    border: 5px solid #d2d4d6;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.7);
}

.head {
    height: 25px;
    padding: 5px;
    background-color: #d2d4d6;
    color: #000;
    line-height: 20px;
    font-weight: bold;
}

.terminal {
    margin: 20px;
    font-size: 16px;
    color: #fff;
}
    
.log {
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    color: #22da26;
}

.end-line {
    color: rgb(26, 158, 240);
    font-weight: bold;
}

.end-line:after {
    content:"▊";    
    color: #fff;
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

ul {
    list-style-type: none;
}

.term-link:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.term-link__logout:hover {
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
}

.term-link:hover::before {
    content:'< ';
}

.term-link:hover::after {
    content:' >';
}

.terminal input {
    border: none;
    background-color: #222;
    border: 1px dotted #69e23a;
    color: #69e23a;
}

.terminal input:focus {
    background-color: #2b2b2b;
}