{% extends 'base.html.twig' %}

{% block adminWorld %}active{% endblock %}

{% block title %}Edit World{% endblock %}

{% block body %}
    <h1>Edit World</h1>

    {{ include('admin/world/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_world_index') }}">back to list</a>

    {{ include('admin/world/_delete_form.html.twig') }}
{% endblock %}
