{% extends 'base.html.twig' %}

{% block adminCategory %}active{% endblock %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end align-items-center">
        <h1 class="mr-auto">Edit Category</h1>
        {{ include('admin/category/_delete_form.html.twig') }}
    </div>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-dark mt-2" href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
