{% extends 'base.html.twig' %}

{% block title %}Ochildren Administration{% endblock %}

{% block body %}
<a class="nav-item nav-link" href="{{ path('admin_world_index') }}"> 
    Gestion des mondes 
</a>
<a class="nav-item nav-link" href="{{ path('admin_category_index') }}"> 
    Gestion des catégories 
</a>
<a class="nav-item nav-link" href="{{ path('admin_quizz_index') }}"> 
    Gestion des Quizzs 
</a>
<a class="nav-item nav-link" href="{{ path('admin_puzzle_index') }}"> 
    Gestion des puzzles 
</a>
{% endblock %}
